<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" context="width=device-width">
	<title>Botnets</title>
</head>
<body>
<!-- 	<div id="app">
		<h1>{{title}}</h1>
		<li>{{cash}}</li>

		<div v-for='(item,index) in shop'>
			<button v-on:click='Upgrade(item,index)' :disabled="cash<item.cost" :class="{disabledButton:cash<item.cost}">${{item.cost}} Add more {{item.name}}</button>
		</div>

		<button @click='Hack'>Begin Hacking!</button>

		<li v-for='(stats,index) in stat'>{{stats}}</li>
		<div v-for="image in images" :key="image.id">
			<p @mouseover="UpdateImage(index)">
		</div>
		<img v-bind:src="image" height="100" width="100">

	</div> -->

	<div id="app">
		<h1>BOTNET</h1>
		<h1>{{title}}</h1>
		<li>{{cash}}</li>		
		<div v-for='(item,index) in shop'>
			<button v-on:click='Upgrade(item,index)' :disabled="cash<item.cost" :class="{disabledButton:cash<item.cost}">${{item.cost}} Add more {{item.name}}</button>
		</div>
		<button @click='Search'>Find vulnerable computers</button>

		<li v-for='(stats,index) in stat'>{{stats}}</li>
		<div v-for="image in images" :key="image.id">
			<p @mouseover="UpdateImage(index)">
		</div>
		<img v-bind:src="image" height="100" width="100">		
		<li v-for="bot in bots">{{bot.ip}}</li>
		<computer v-for="not in nots"></computer>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	

	<script src="main.js"></script>
	
</body>
</html>